<!--Not In Use -->
{% extends 'base.html' %}
{% block body %} 
{% load static%}
<div class="container mt-5">
    <a type="button" href="/addCustomer" class="btn btn-outline-success btn-lg">Add Customer</a>
    <a type="button" href="/addRental" class="btn btn-outline-success btn-lg">Add Rental booking</a>
    <a type="button" href="/seeCustomer" class="btn btn-outline-success btn-lg">See customer List</a>
    <a type="button" href="/seeRental" class="btn btn-outline-success btn-lg">See Rental Booking List</a>
    <a type="button" href="/seeInventory" class="btn btn-outline-success btn-lg">See Inventory</a>
  </div>
{% endblock body %}